/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02-Jan-2021, 11:04:24 pm
    Author     : Jeevan Vaishnav
*/
/**************************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior:smooth;
}

.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.logo img{
    width: 33%;
    border: 3px solid white;
    border-radius: 50px;    
    margin: 5px;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top:0;
    cursor: pointer;
  
    
}

.nav-list{
    width: 70%;
    /* background-color: black;*/
    display: flex;
    align-items: center;
    /*justify-content: center;*/

}

.nav-list li{
    list-style: none;
    padding: 26px 20px;

}

.nav-list li a{
    text-decoration: none;
    color:white;
    font-size: 20px;
     font-family: 'Ubuntu', sans-serif;
}

.nav-list li a:hover{
    color: #999999;
}
.rightNav{
    /* background-color: purple;*/
    width: 30%;
    text-align: right;
    padding: 0 23px;

}

#search{
    padding: 5px;
    border: 2px solid grey;
    font-size: 17px;
    border-radius: 9px;

}

.background{
    background: rgba(0,0,0,0.7) url('..//images/nasa2.jpg');
    background-size: cover;
    backgroud-blend-mode:darken; 
}

.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-family:'Seoge UI',Tahoma,Geneva,Verdana,sans-serif;
    max-width: 50%;
    margin: auto;
    height:65%;
}
.firstsection{
    height: 100vh;
}

.firstHalf{
    width:80%;  
    display: flex;
    justify-content: center;
    flex-direction: column;

}


.seconfhalf{
    width: 30%;

}

.seconfhalf img{
    width: 70%;
    border: 4px solid white;
    border-radius: 150px;
    display: block;
    margin: auto;
}



.text-big{
    font-size: 34px;
    /*text-align: center;*/
}

.text-small{
    font-size: 20px;
    /*text-align: center;*/

}

.btn{
    padding: 8px 20px;
    margin: 7px 3px;
    border: 2px solid white;
    border-radius: 8px;
    /*font-size: 18px;*/
    background: none;
    color: white;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}
.btn-sm{
    padding: 6px 10px;
    vertical-align: middle;
    font-size: 16px;

}


.section{
   /* height: 400px;*/
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
    font-family: 'Ubuntu', sans-serif;
    padding: 7px;
}


.paras{
    padding: 0px 65px;
}
.section-left{
    flex-direction: row-reverse;
}


.sectionTag{
    padding: 23px 0px;
}

.sectionSubTag{
    font-family: sans-serif;
}

.thumbnail img{
    width: 250px;
    border: 2px solid grey;
    border-radius: 23px;
    maring-top:19px;
}



.contact{
    background-color: #f6f5f4;
    height: 700px;
}

.text-center{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    padding: 20px;
    font-size: 35px;
}

.form{
    max-width: 1200px;
    margin: 24px auto;
}

.form-input{
    margin: 14px 0px;
    width: 100%;
    font-size: 19px;
    border: 2px solid grey;
    border-radius: 6px;
    padding: 5px 3px;
}

.btn-dark{
    color: black;
    border: 2px solid grey;


}

.text-footer{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
   justify-content: center;
   padding: 20px 0px;
   color: white;
   
}

.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15%;
}
.line{
    width:33px;
    background-color: white;
    height: 4px;
    margin: 5px 3px;
}
